
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* form {
    display: inline;
} */

button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ff1f1f;
}
